/* Saját szín paletta definíciója az egységes kezeléshez */
:root {
	--sajat-szoveg-szin: pink;
	--sajat-hatter-szin: cadetblue;
	--sajat-kijeloles-szin: ivory;
}

/**************************************************
 ************* Általános  beállítások *************
 **************************************************/

html, body {
	line-height: 1.5;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 15px 0;
}

/**************************************************
 *************** Fejléc beállítások ***************
 **************************************************/

.fejlec-keppel {
	text-align: center;
}
.fejlec-keppel#fejkep {
	background-image: url(../kepek/Rajzmunkak12.jpg);
}
.fejlec-szinnel {
	background-color: var(--sajat-hatter-szin);
	opacity: 0.8;
	padding: 10px;
}
.fejlec-cim {
	color: var(--sajat-szoveg-szin);
	font-size: 3.5em;
	font-weight: 600;
}
.fejlec-leiras {
	color: var(--sajat-szoveg-szin);
	font-style: italic;
	font-family: cursive;
}

/**************************************************
 ************** Tartalom beállításai **************
 **************************************************/

.tartalom {
	padding: 10px 10vw;
	text-align: left;

	/* Ez kell ahhoz, hogy a lábléc mindig minimum oldal alján legyen */
	/* A teljes képernyő méretéből le kell vonni 
	     * a fejléc (170, ha egysorban elfér a felvezetés),
	     * a menüsáv (55, keskeny kijelzőn csak összecsukott állapotban),
	     * az tartalom margója alul és felül (10) 
	     * és a lábléc (130) méretét*/
    min-height: calc(100vh - 375px);
}
    .tartalom2 {
	padding: 10px 10vw;
	text-align: left;
}
.tartalom2 h2 {
	padding: 0px 10vw;
	text-align: center;
	color: var(--sajat-hatter-szin);
}
.tartalom2 a {
	padding: 0px 10vw;
	text-align: center;
	color: var(--sajat-hatter-szin);
	text-decoration: none;
}
/**************************************************
 *************** Lábléc beállítások ***************
 **************************************************/

.lablec {
	color: var(--sajat-szoveg-szin);
	background-color: var(--sajat-hatter-szin);
	padding: 15px;
	text-align: center;
	height: 100px;
	display: block;
	box-sizing: inherit;
	line-height: 1.5;
}
.lablec a {
	font-size: 24px;
	background-color: transparent;
	text-decoration: underline;
	color: inherit;
}
.lablec-szoveg {
	font-size: 15px;
}
#profilKep {
	/*background-image: src="./kepek/ikonkep.jpg" style="width:50%";*/
	/*background-image: url(https://images.gr-assets.com/users/1487183303p6/65016141.jpg);*/
	background-size: cover;
	float: left;
	width: 250px;
	height: 250px;
	margin: 15px;
	border-radius: 50%;
	}
#plakatkep {
	background-size: cover;
	float: left;
	margin: 15px;
	width: 50%;
}
#ivory {
	color: ivory;
	background-color: cadetblue;
}
#cadetblue {
	color: cadetblue;
	background-color: pink;
}
#pink {
	color: pink;
	background-color: cadetblue;
}
