.tartalom * {
	box-sizing: border-box;
}
.tartalom {
	padding-top: 0px;

}
.sor {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 10px;
}
 /* Kétoszlopos megjelenítés közepes szélesség mellett */
.oszlop {
	-ms-flex: 50%; /* IE 10 */
	flex: 50%;
	padding: 0 5px;
}
 .oszlop img {
	margin-top: 10px;
	vertical-align: middle;
}

/* Egy oszlopos megjelenítés, ha a szélesség kicsi */
@media screen and (max-width: 900px) {
	.oszlop {
		-ms-flex: 100%; /* IE 10 */
		flex: 100%;
	}
	.tartalom {
		padding-left: max(2vw, calc(2vw + (50vw - 355px) / 1));
		padding-right: max(2vw, calc(2vw + (50vw - 355px) / 1));
	}
}

/* Négy oszlop használata a képeknél, nagy szélesség esetén */
@media screen and (min-width: 1800px) {
	.oszlop {
		-ms-flex: 25%; /* IE 10 */
		flex: 25%;
	}
}